<h1 class="animated fadeIn fast">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>
<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>{{ heroe.bio }}</p>
        <div>
            <img class="img-logo" [src]="casa" [alt]="heroe.casa">
            <img *ngIf="heroe.casa == 'DC' " class="img-logo" src="assets/img/dc-logo.jpg" [alt]="heroe.casa">
            <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" [alt]="heroe.casa">
        </div>
    </div>
</div>