<h1 class="mt-3">PIPES <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ nombre2 }}</th>
                    <th>capitalizado</th>
                    <th>{{ nombre2 | capitalizado:false }}</th>
                </tr>
                <tr>
                    <th>{{ nombre }}</th>
                    <th>uppercase</th>
                    <th>{{ nombre | uppercase }}</th>
                </tr>
                <tr>
                    <th>{{ nombre }}</th>
                    <th>lowercase</th>
                    <th>{{ nombre | lowercase }}</th>
                </tr>
                <tr>
                    <th>{{ nombre }}</th>
                    <th>slice:3</th>
                    <th>{{ nombre | slice:3 }}</th>
                </tr>
                <tr>
                    <th>{{ nombre }}</th>
                    <th>slice:0:3</th>
                    <th>{{ nombre | slice:0:3 }}</th>
                </tr>
                <tr>
                    <th>{{ arreglo }}</th>
                    <th>slice:1:5</th>
                    <th>{{ arreglo | slice:1:5 }}</th>
                </tr>
                <tr>
                    <th>{{ PI }}</th>
                    <th>number:'1.0-0'</th>
                    <th>{{ PI | number:'1.0-0' }}</th>
                </tr>
                <tr>
                    <th>{{ PI }}</th>
                    <th>number:'3.0-0'</th>
                    <th>{{ PI | number:'3.0-0' }}</th>
                </tr>
                <tr>
                    <th>{{ PI }}</th>
                    <th>number:'.0-0'</th>
                    <th>{{ PI | number:'.0-0' }}</th>
                </tr>
                <tr>
                    <th>{{ porcentaje }}</th>
                    <th>percent</th>
                    <th>{{ porcentaje | percent }}</th>
                </tr>
                <tr>
                    <th>{{ porcentaje }}</th>
                    <th>percent:'2.2-2'</th>
                    <th>{{ porcentaje | percent:'2.2-2' }}</th>
                </tr>
                <tr>
                    <th>{{ salario }}</th>
                    <th>currency</th>
                    <th>{{ salario | currency }}</th>
                </tr>
                <tr>
                    <th>{{ salario }}</th>
                    <th>currency:'EUR'</th>
                    <th>{{ salario | currency:'EUR' }}</th>
                </tr>
                <tr>
                    <th>{{ salario }}</th>
                    <th>currency:'CAD':'symbol-narrow':'.0-0'</th>
                    <th>{{ salario | currency:'CAD':'symbol-narrow':'.0-0'}}</th>
                </tr>
                <tr>
                    <th>{{ valorPromesa }}</th>
                    <th>async</th>
                    <th>{{ valorPromesa | async}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date</th>
                    <th>{{ fecha | date}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date:'medium'</th>
                    <th>{{ fecha | date:'medium'}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date:'short'</th>
                    <th>{{ fecha | date:'short'}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date:'MMMM -dd'</th>
                    <th>{{ fecha | date:'MMMM - dd'}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date:'MMMM - dd':'':'en'</th>
                    <th>{{ fecha | date:'MMMM - dd':'':'en'}}</th>
                </tr>
                <tr>
                    <th>{{ fecha }}</th>
                    <th>date:'MMMM - dd':'':'fr'</th>
                    <th>{{ fecha | date:'MMMM - dd':'':'fr'}}</th>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date:'MMMM - dd':'':'{{ idioma }}'
                        <br>
                        <button (click)="idioma='es'" class="btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class=" btn btn-secondary ">Inglés</button>
                        <button (click)="idioma='fr'" class="btn btn-success">Francés</button>
                    </td>
                    <td>{{ fecha | date:'MMMM - dd':'':idioma}}</td>
                </tr>
                <tr>
                    <th>{{ nombre }}</th>
                    <th>contrasena:{{activar}}
                        <br>
                        <button (click)="activar=!activar" class="btn btn-outline-primary">Activar/Desactivar</button>
                    </th>
                    <th>{{ nombre | contrasena:activar }}</th>
                </tr>

            </tbody>
        </table>
        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20"> {{item}}</li>
        </ul>
        <h3>JSON</h3>
        <div class="row mb-5">
            <div class="col">
                <pre>
                  {{heroe | json}}
                </pre>
            </div>
        </div>
    </div>
</div>

<h3 class="mt-4">DomSeguro</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>