<ion-list color="dark">
    <ion-item-sliding class="animated fadeInDown" *ngFor="let item of deseosService.lista | filtroTermiandos:terminados">
        <ion-item color="dark" (click)="listaSeleccionada(item)" detail>
            <ion-label>{{ item.titulo}}</ion-label>
            <ion-note slot="end" color="tertiary">{{ item.items.length}} items</ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="editList(item)" expandable>
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrarList(item)" expandable>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>