<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['home']">Auth0 App</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button class="btn btn-outline-primary" (click)="auth.loginWithPopup()" *ngIf="auth.isAuthenticated$">Ingresar</button>
      <button class="btn btn-outline-danger" (click)="auth.logout()" *ngIf="!auth.isAuthenticated$">Salir</button>
    </span>
  </div>
</nav>
