<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error {{ descError.status }}</h3>
    <p>
        {{ descError.message}}
    </p>
</div>
<app-cards [items]="nuevasCanciones"></app-cards>