<h4>Formularios <small> Reactive </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <small class="form-text text-danger" *ngIf="nombreNoValido">Minimo 4 caracteres</small>
        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <small class="form-text text-danger" *ngIf="apellidoNoValido">Minimo 4 caracteres</small>
        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <small class="form-text text-danger" *ngIf="correoNoValido">Ingrese un correo valido</small>
      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">
      <small class="form-text text-danger" *ngIf="usuarioNoValido">Ingrese un usuario valido</small>
      <input class="form-control" type="text" placeholder="usuario" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass" [class.is-invalid]="passwordNoValido">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar contraseña</label>
    <div class="col">
      <input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="confirmar" [class.is-invalid]="confirmarNoValido">
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col-md-6">
        <small class="form-text text-danger" *ngIf="calleNoValido">minimo 3 caracteres</small>
        <input class="form-control" type="text" placeholder="Calle" formControlName="calle" [class.is-invalid]="calleNoValido">
      </div>
      <div class="col-md-6">
        <small class="form-text text-danger" *ngIf="coloniaNoValido">minimo 3 caracteres</small>
        <input class="form-control" type="text" placeholder="Colonia" formControlName="colonia" [class.is-invalid]="coloniaNoValido">
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{i + 1}}</td>
            <td><input type="text" class="form-control" [formControlName]="i"></td>
            <td><button class="btn btn-danger" type="button" (click)="borrarPasaTiempo(i)">Borrar</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasaTiempo()">+ Agregar</button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>




<hr>
<pre>
  Estado del formulario = {{forma.valid}}
  <br>
  Status: {{ forma.status}}
</pre>
<pre>
{{ forma.value | json}}
</pre>
