<ion-header [translucent]="true">
    <ion-toolbar class="ion-no-border" color="dark">
        <ion-title>
            Terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-listas [terminados]="true"></app-listas>
</ion-content>