<ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button tab="pendientes">
            <ion-icon name="clipboard-outline"></ion-icon>
            <ion-label>Pendintes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="terminados">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <ion-label>Terminados </ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>